.header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 45px;
    height: 42px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 20px;
    font-weight: 400;
    font-size: 15px;
}


.name-bank {
    font-weight: 800;
    font-size: 20px;
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

li:last-child {
    background-color: green;
}

li:nth-child(2) {
    background-color: green;
}

li:last-child a {
    color: white;
}

li:nth-child(2) a {
    color: white;
}

@media (max-width: 620px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 620px) {
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media(max-width: 620px) {
    li {
        padding: 10px;
        border-radius: 4px;
    }
}